*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient( aliceblue 50%, lightcyan 50%);

}

#container{
    /* border: 1px solid black; */
    height: auto;
    width: 35%;
    margin: 15px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    box-shadow: 100px;    
}

#upperBody{
  
    /* border: 1px solid black; */
    display: flex;
    height: auto;
    width: 80%;
    margin: 10px auto;  
}

img{
    height: 20px;
     
}


#middleBody{ 
    font-size: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 80%;
    margin: 10px auto;      
}

#buttonPart{
    height: auto;
    width: auto;
    display: flex;
    margin-top: 10px;     
}

a{
    padding-right:100px;
    color: rgb(109, 56, 255);
}

button{
    margin-right:80px;
    color: rgb(109, 56, 255);
}

#lowerBody{    
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);    
    height: auto;
    width: 80%;
    margin: 10px auto;      
}

input{
    font-size: 20px;
}